.drawElement{
	cursor: pointer;
	width: 32px;
	height: 32px;
	margin: 3px;
	display: inline-block;
	border: 1px #0099FF solid;
	background-color: #000000;
}

.drawElement:hover{
	border: 1px #FFFFFF solid;
	box-shadow: 0px 0px 3px #FFFFFF;
}

.activeTool, .activeColor{
	border: 1px #FFFFFF solid;
	box-shadow: 0px 0px 10px #FFFFFF !important;
}

#toolbox{
	height: 80px;
}

#palette{
	height: 220px;
}

#settings{
	height: 130px;
}

.settingsElement{
	cursor: pointer;
	font-weight: 200;
	padding-left: 5px;
	margin-top: 5px;
}

.settingsInput{
	position: absolute;
	left: 135px;
	width: 50px;
	border: 1px solid #000000;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

.checkbox{
	position: relative;
	top: 3px;
	margin-right: 5px;
	display: inline-block;
	cursor: pointer;
	height: 9px;
	width: 9px;
	border: 5px #000000 solid;
	outline: 1px #0099FF solid;
	background-color: #000000;
}

.checkbox.checked{
	background-color: #0099FF;
}

.checkbox:hover, .settingsElement:hover .checkbox{
	outline-color: #FFFFFF;
}

#drawPad{
	width: 335px;
  height: 400px;
	color: #FFFFFF;
	padding-left: 5px;
  background-color: #888888;
}

#drawCanvas{
  display: none;
	height: 320px;
	width: 320px;
}

#drawDiv{
	position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
	cursor: crosshair;
	z-index: 10000;
}

#drawDiv img {
  display: none;
}

