#sketchForm {
  margin: 10px;

}
#sketchForm .actions {
  float: right;
  margin-right: 10px;

}

#sketchForm .actions button {
  padding: 5px;
}


#codeInput{
  position: relative;
  height: 90%;
  width: 100%;
	display: block;
}

.error{
	display: block;
	color: #FF8888;
	border-bottom: 1px solid #FF5555;
	padding: 5px;
}

.errorInner{
	display: inline;
	color: #FF0000;
}
