#sketchForm {
  margin: 10px;

}
#sketchForm .actions {
  float: right;
  margin-right: 10px;

}

#sketchForm .actions button {
  padding: 5px;
}


#codeInput{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.error{
	display: block;
	color: #FF8888;
	border-bottom: 1px solid #FF5555;
	padding: 5px;
}

.errorInner{
	display: inline;
	color: #FF0000;
}
